<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.android.earthdawn"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="13" />
    
    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="false"
                      android:xlargeScreens="true"/>

    <application android:icon="@drawable/ic_action_throall2" 
        android:label="@string/app_name" 
        android:hardwareAccelerated="true"
        android:debuggable="true">
        
        <activity android:name=".activities.EarthDawnActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.RollerActivity"
                  android:label="@string/app_name">   
        </activity>
        
        <activity android:name=".activities.ChooseCharacterActivity"
                  android:label="@string/app_name"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="fr.android.earthdawn.activities.CHARACTER_SHEET" />
            </intent-filter>  
        </activity>
        
        <activity android:name=".activities.ActionBarTabsPager"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="fr.android.earthdawn.activities.CHARACTER_SHEET" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.MapViewActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="fr.android.earthdawn.activities.MAP" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.BonusMalusActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="fr.android.earthdawn.activities.BONUS_MALUS" />
            </intent-filter>
        </activity>

    </application>
</manifest>